{{> templates/header.html}}

<article>
<header>
  <h1><a href="/{{path}}">{{#meta}}{{a_title}}{{/meta}}</a></h1>
</header>
<p class="meta">
    {{#has_prev}}
    <span class="prev">
        <a href="/blog/{{prev}}">&larr;</a>
    </span>
    {{/has_prev}}
    {{#has_next}}
    <span class="next">
        <a href="/blog/{{next}}">&rarr;</a>
    </span>
    {{/has_next}}
    <time>{{#meta}}{{a_date}}{{/meta}}</time>

    <span class="tags">
        {{{html_tags}}}
    </span>
</p>
<div class="content">
    {{{content}}}

<p class="meta">
    {{#has_prev}}
    <span class="prev">
        <a href="/blog/{{prev}}">&larr;</a>
    </span>
    {{/has_prev}}
    {{#has_next}}
    <span class="next">
        <a href="/blog/{{next}}">&rarr;</a>
    </span>
    {{/has_next}}
</p>

    {{#has_related}}
    <hr />

    <h2>Related Posts</h2>

    <p>If you liked this post, you might also enjoy:</p>

    <ul>
    {{#related}}
      <li><a href="/{{canonical_url}}">{{title}}</a></li>
    {{/related}}
    </ul>
    {{/has_related}}
</div>

<div class="comments">
  <script src="https://utteranc.es/client.js"
        repo="isovector/reasonablypolymorphic.com"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</div>
</article>

{{> templates/footer.html}}
