@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash|Neuton|Oswald|Yellowtail)

h3 {
  font-family: Neuton;
}

#impress {
  font-size: 20pt;
}

h1 {
  font-family: Oswald;
  margin-bottom: 1.5em;
}

h2 {
  font-family: Oswald;
  margin-bottom: 1.0em;
}

p, li {
  font-family: Neuton;
  font-size: 24pt;
}

.new {
  color: #f00;
  font-weight: bold;
}

#title > h1 {
  font-size: 64pt;
  text-align: center;
  font-family: Yellowtail;
  margin-bottom: -0.75em;
}


#title > h2 {
  font-size: 48pt;
  text-align: center;
  font-family: Neuton;
}


#title > h3 {
  font-family: Neuton;
  text-align: right;
  margin-top: 3em;
}

#title > h3 > span {
  font-size: 24pt;
  font-family: Yellowtail;
}

#title > h4 {
  text-align: right;
  font-weight: regular;
  margin-top: -1em;
  font-family: Neuton;
}

.cursive {
  font-family: Yellowtail;
}

.err {
  border: none !important;
}

.bigass {
  font-size: 100pt;
  width: 100px;
  margin: 0 auto;
}

.down {
  -webkit-transform: translateX(-200px) rotate(90deg); /* Chrome, Safari, Opera */
}

.buffer {
  width: 90%;
  padding: 0.5em 0.25em;
  margin: 0 auto 1em;
  background-color: #000;
  color: #0f0;
}

.cursor {
  background-color: #0f0;
  color: #000;
}

.tobj {
  color: #fff;
  text-decoration: underline;
}

blockquote {
  margin: 0em 1.5em;
  padding: 0.5em 10px;
  quotes: "\bb""\bb""\bb""\bb";
  font-family: monospace;
  white-space: pre;
}

blockquote:before {
  color: #aaa;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.1em;
}

.group {
  margin: 1.5em 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#hovercraft-help {
  display: none;
}

.space {
  margin-bottom: 2.5em;
}

.bigger {
  font-size: 28pt;
}
