body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Amiri', serif;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

p, pre, .content > ul, .content > ol, .footnotes {
    font-size: 1em; /* 16px */
    line-height: 1.2500em; /* 20px */
    margin: 0 0 1.2500em 0;
}

.content pre {
    margin: -2px 0 20px 2em;
    border: 1px solid #000;
    padding: 0 0.5em;
}

p code, li code {
    background-color: rgba(0, 0, 0, 0.12);
}

code {
    font-size: 0.7500em; /* 12px */
    line-height: 1.6667em; /* 20px */
    margin-top: 1.6667em;  margin-bottom: 0.0000em;
}

hr {
    margin-top: -1px;
    margin-bottom: 19px;
}

blockquote {
    margin: 0 1.5em 1.2500em 1.5em;
}

img {
    margin: 0 auto;
}

.caption {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-size: 0.7500em; /* 12px */
    line-height: 1.6667em; /* 20px */
    margin-top: 1.6667em;  margin-bottom: 40px;
}

p > code, li > code, a > code {
    padding: 1px 0.5em;
}

.math {
    font-family: monospace, monospace;
    vertical-align: top;
    font-size: 11pt;
    line-height: 1.1500em; /* 20px */
    padding: 0;
}

pre, code, kbd, samp, tt, textarea, span {
    font-family: monospace, monospace;
    vertical-align: top;
}

a {
    color: #213C6A;
    text-decoration: none;
}

h1 a, h2 a {
    font-family: 'Muli', sans-serif;
    color: #421;
}

.column {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    vertical-align: baseline;
    padding: 0;
}

.main {
    flex-grow: 1;
    background-color: #fff;
}

article {
    /* color: #; */
    padding: 0 48px 20px;
    /*background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAUCAYAAACnOeyiAAAAF0lEQVQIW2NkgALGwc8oLy//39nZyQgAG6YEFW6EBNcAAAAASUVORK5CYII=); /* */
    width: 70%;
    margin: 0 auto;
}

sub{
    font-size: 0.7em;
    vertical-align: bottom;
    position: relative;
    bottom: -6px;
    margin-left: 0.25em;
}

sup{
    font-size: 0.7em;
    vertical-align: top;
    position: relative;
    top: -6px;
    margin-left: 0.25em;
}

nav {
    margin-top: 0;
    padding: 0 20px 16px 20px;
    min-width: 312px;
    max-width: 312px;
    width: 312px;
    color: #fff;

    font-family: 'Muli', sans-serif;
    text-align: justify;
    min-height: 100vh;
    background-color: #111;

    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAQCAYAAAA8qK60AAAAF0lEQVQIW2NkgALGgWWUl5f/7+zsZAQAGOgEEZMPrH4AAAAASUVORK5CYII=); /* */
}

nav a {
    color: #d0d;
}

nav h1 {
    text-align: center;

    font-size: 1.8571em; /* 26px */
    line-height: 1.2308em; /* 32px */
    margin-top: 60px;  margin-bottom: 80px;

}

.prev, .next {
    margin-top: -1px;
    font-size: 2em;
}

.prev {
    float: left;
    margin-left: -26px;
}

.next {
    float: right;
    margin-right: -26px;
}

nav h1 a {
    color: #fff;
}

nav p {
    font-size: 11pt; /* 14px */
    line-height: 1.1429em; /* 16px */
    margin: 0 0 1.1429em 0;
}

nav h2 {
    font-size: 1em; /* 14px */
    line-height: 1.1429em; /* 16px */
    margin: 0;
}

nav ul {
    padding-left: 24px;
    font-size: 1em; /* 14px */
    line-height: 1.1429em; /* 16px */
    margin: 0 0 1.1429em 0;
    list-style-type: square;
}

header {
    padding-top: 40px;
    padding-bottom: 21px;
}

header h1 {
    font-size: 2.7500em; /* 44px */
    line-height: 1.3636em; /* 60px */
    margin-top: 0.4545em;  margin-bottom: 0.0000em;
    font-weight: normal;
}

h3 {
    font-size: 1.2500em; /* 20px */
    line-height: 1.0000em; /* 20px */
    margin-top: 2.0000em;  margin-bottom: 1.0000em;
    font-weight: normal;
}

.content > h2, .content > h1 {
    font-size: 1.3750em; /* 22px */
    line-height: 1.8182em; /* 40px */
    margin-top: 0.9091em;  margin-bottom: 0.0000em;
    font-weight: normal;
}

ul {
    margin-top: 10px;
    list-style-type: square;
}

.meta {
    font-size: 0.7500em; /* 12px */
    line-height: 1.6667em; /* 20px */
    margin-top: 1.6667em;  margin-bottom: 19px;
    border-bottom: 1px dashed #11212e;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
}

.date {
    float: right;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    color: #888;
}


.content {
    text-align: justify;
    font-size: 14pt;
}

.tags {
    float: right;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
}

@media (max-width: 1000px) {
    nav {
        display: none;
    }

    article {
        margin-right: 0px;
        margin-left: 0px;
        width: inherit;
    }

    #smallnav {
      display: block !important;
    }

    .prev {
      display: none !important;
    }

    .next {
      display: none !important;
    }
}

@media (max-width: 720px) {
    article {
      padding-left: 10px;
      padding-right: 10px;
    }

    .content pre {
      margin-left: 0;
    }
}

#smallnav {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 6px 0;
  background-color: #000;
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

#smallnav a {
  color: white;
}

.smallhome {
  float: left;
  margin-left: 2em;
}

.smallarchives {
  float: right;
  margin-right: 2em;
}

table {
  margin: 0 auto;
  margin-bottom: 1em;
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.noborders * {
  border: none;
}

.noborders table {
  border-bottom: 1px solid black;
}

th {
  padding: 0.3em 0.5em;
  font-size: larger;
}

td {
  padding: 0.3em;
  font-size: larger;
}

.circuit {
  margin: 0 auto;
  display: block;
}

.copy {
  font-size: smallest;
}

.figure {
  text-align: center;
}
