@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash|Neuton|Oswald|Yellowtail)

h3 {
  font-family: Neuton;
}

#impress {
  font-size: 20pt;
}

h1 {
  font-family: Oswald;
  margin-bottom: 1.5em;
}

h2 {
  font-family: Oswald;
  margin-bottom: 1.0em;
}

p, li {
  font-family: Neuton;
  font-size: 24pt;
}

.new {
  color: #f00;
  font-weight: bold;
}

#title > h1 {
  font-size: 64pt;
  text-align: center;
  font-family: Yellowtail;
  margin-bottom: -0.75em;
}


#title > h2 {
  font-size: 48pt;
  text-align: center;
  font-family: Neuton;
}


#title > h3 {
  font-family: Neuton;
  text-align: right;
  margin-top: 3em;
}

#title > h3 > span {
  font-size: 24pt;
  font-family: Yellowtail;
}

#title > h4 {
  text-align: right;
  font-weight: regular;
  margin-top: -1em;
  font-family: Neuton;
}

.cursive {
  font-family: Yellowtail;
}

.err {
  border: none !important;
}

.bigass {
  font-size: 100pt;
  width: 100px;
  margin: 0 auto;
}

.down {
  -webkit-transform: translateX(-200px) rotate(90deg); /* Chrome, Safari, Opera */
}
