<nav>
    <h1><a href="/">WE CAN<br/>SOLVE THIS</a></h1>
    <p>&nbsp;</p>
    <p>&nbsp;<br/>&nbsp;<br/></p>
    <p>
    Hi there. I'm <strong>Sandy Maguire</strong>. By trade I'm a programmer, but my interests lie more in the field of strategic self-improvement (on which I maintain a blog). I attempt to think and act at every level, everywhere, always, but cogency of meta-levels is where I find most of the value in life.</p>

    <p>One ideal I put above all others is that of transparency, and as such, I attempt to live as open a life as possible. To this extent, I quantify lots about my life, with the belief that more data is better than less data:</p>

    <p>If you want to get in touch, I'd love to hear from you! Send me an email; my name is <tt><strong>sandy</strong></tt> and this is my website.</p>


    <h2>PRODUCER OF</h2>
    <ul>
        <li>Code on <a href="http://github.com/munificent">github</a></li>
        <li>Essays at <a href="http://bitbucket.org/munificent">here</a></li>
        <li>Tips and tricks at <a href="http://bitbucket.org/munificent">here</a></li>
        <li>Mathematics at <a href="http://twitter.com/munificentbob">twitter</a></li>
        <li>Book archive at <a href="http://twitter.com/munificentbob">twitter</a></li>
    </ul>

    <h2>CONSUMER OF</h2>
    <ul>
        <li>Music at <a href="http://github.com/isovector">last.fm</a></li>
        <li>Books at <a href="http://github.com/isovector">goodreads</a></li>
        <li>Papers at <a href="http://github.com/isovector">mendeley</a></li>
    </ul>

    <p>
    &copy; 2011-2015 Sandy Maguire
    </p>
</nav>
