<nav>
    <h1><a href="/">REASONABLY<br/>POLYMORPHIC</a></h1>

    <p> Hi there. I'm <strong>Sandy Maguire</strong>. I like improving life and
    making cool things.</p>

    <p>If you want to get in touch, I'd love to hear from you! Send me an email;
    my name is <tt>sandy</tt> and this is my website.</p>

    <h2>THINGS I MAKE</h2>
    <ul>
        <li>Code on <a href="http://github.com/isovector">github</a></li>
        <li>Essays <a href="/blog/archives/">archive</a></li>
        <li>Book <a href="/book/preface">archive</a></li>
    </ul>

    <h2>WHAT I'M DOING</h2>
    <ul>
        <li>Music at <a href="http://last.fm/user/Paamayim">last.fm</a></li>
        <li>Books at <a href="https://www.goodreads.com/review/list/14945161-sandy-maguire?shelf=currently-reading">goodreads</a></li>
        <li>Papers at <a href="https://www.mendeley.com/groups/7295141/read/papers/">mendeley</a></li>
    </ul>

    <p>
    &copy; 2011-2016 Sandy Maguire
    </p>
</nav>
