<div class="main">
<article>
<header>
    <h1><a href="$url$">$title$</a></h1>
</header>
<p class="meta">
    $if(prev)$
    <span class="prev">
        <a href="$prev$">&larr;</a>
    </span>
    $endif$
    $if(next)$
    <span class="next">
        <a href="$next$">&rarr;</a>
    </span>
    $endif$
    <time>$date$</time>
    $if(tags)$
        <span class="tags">
        $tags$
        </span>
    $endif$
</p>
<div class="content">
    $body$
</div>
<p class="meta">
    $if(prev)$
    <span class="prev">
        <a href="$prev$">&larr;</a>
    </span>
    $endif$
    $if(next)$
    <span class="next">
        <a href="$next$">&rarr;</a>
    </span>
    $endif$
</p>
</article>
</div>
