{{> templates/header.html}}

<article>
<header>
  <h1><a href="/{{canonical_url}}">{{title}}</a></h1>
</header>
<p class="meta">
    {{#has_prev}}
    <span class="prev">
        <a href="/blog/{{prev}}">&larr;</a>
    </span>
    {{/has_prev}}
    {{#has_next}}
    <span class="next">
        <a href="/blog/{{next}}">&rarr;</a>
    </span>
    {{/has_next}}
    <time>{{date}}</time>

    <span class="tags">
        {{{html_tags}}}
    </span>
</p>
<div class="content">
    {{{content}}}

<p class="meta">
    {{#has_prev}}
    <span class="prev">
        <a href="/blog/{{prev}}">&larr;</a>
    </span>
    {{/has_prev}}
    {{#has_next}}
    <span class="next">
        <a href="/blog/{{next}}">&rarr;</a>
    </span>
    {{/has_next}}
</p>

    {{#has_related}}
    <hr />

    <h2>Related Posts</h2>

    <p>If you liked this post, you might also enjoy:</p>

    <ul>
    {{#related}}
      <li><a href="/{{canonical_url}}">{{title}}</a></li>
    {{/related}}
    </ul>
    {{/has_related}}
</div>

<div class="comments">
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        var slug = "{{slug}}";
        this.page.url = "http://reasonablypolymorphic.com/blog/" + slug;
        this.page.identifier = slug;
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://reasonablypolymorphic.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
</div>
</article>

{{> templates/footer.html}}
